<extend name="base" />
<block name="container">        
        <div class="container">
                <div class="panel" style="margin-top: 5px;">
                        <div class="panel-heading">
                                <span>用户数据</span>
                                <a class="btn btn-primary" href="{:U('edit')}" style="margin-left: 725px;">新建用户</a>
                        </div>
                        <table class="table table-bordered table-hover">
                        <thead>
                                        <tr>
                                                <th style="text-align: center;">序号</th>
                                                <th style="text-align: center;">用户名称</th>
                                                <th style="text-align: center;">最近登录时间</th>
                                                <th style="text-align: center;">编辑</th>
                                        </tr>
                                </thead>
                                <tbody>
                                <volist name="userdata" id="vo">
                                        <tr>
                                                <td style="text-align: center;">{$vo.user_id}</td>
                                                <td style="text-align: center;">{$vo.user_name}</td>
                                                <td style="text-align: center;">{$vo.lastlogin|date='Y-m-d H:i:s',###}</td>
                                                <td style="text-align: center;">
                                                        <a class="btn btn-primary" href="{:U('edit',array('user_id'=>$vo[user_id]))}">修改资料</a>
                                                        <a class="btn btn-danger" onclick="deleteuser('{$vo[user_id]}')">删除用户</a>
                                                </td>
                                        </tr>
                                </volist>
                                </tbody>
                    </table>
                </div>
                <div style="float: right;">
                        <ul class="pager"><li>{$_page}</li></ul>
                </div>
        </div>
</block>
<block name="jsinbody">
        <script>
                $(function(){
                       $("#li3").addClass("active");        
                });
        function deleteuser(user_id){
                //alert(user_id);
                $.ajax({
                        url:"{:U('Home/Index/deleteuser')}",
                        type:"post",
                        data:{
                                user_id:user_id,
                        },
                        //dataType:"text",
                        success:function(re){
                        if(re.status == 1)
                        {
                                alert(re.info);
                                window.location.reload();
                        }
                                else 
                        {
                                alert(re.info);
                        }
                        }
                });
                
        }
        </script>
</block>     